<mat-sidenav-container class="dashboard side dark">
    <mat-sidenav #sideNav class="sidenav list-dark" [mode]="(isPhone | async) ? 'over' : 'side'" [opened]="!(isPhone | async)"
    fixedInViewPort>
    <mat-nav-list>
        <a routerLink="//" routerLinkActive="active" mat-list-item><h2>Russo 2.0</h2></a> 
        
       
        <table class="table-fact">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Iva</th>
                <th>Subtotal</th>
            </tr>
            <tr li *ngFor="let p of data">
                <td>{{ p.title }}</td>
                <td>{{ p.cantidad }}</td>
                <td>${{ p.impuesto }}</td>
                <td>${{ p.subtotal }}</td>
            </tr>
        </table>   
        <hr>   
        <h2 >Impuesto {{ sumimpuesto() }} </h2>
        <h2 >Total a Pagar  {{ sumtotal() }} </h2>                                                                                                                                
        <button mat-raised-button color="accent" (click) = "clear()">Limpiar</button>
        <button mat-raised-button color="primary" (click) = "factura()">Facturar</button>
    </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content class="dashboard-content">
<mat-toolbar color="warn">
    <button mat-icon-button *ngIf="isPhone | async" (click)="sideNav.toggle()">
     <mat-icon>menu</mat-icon>   
    </button>
    <span style="text-align: center;">Productos</span>
</mat-toolbar>
<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>